{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block content %}
  <section class="section-login text-big">
    <form method="post" id="login-form">
      <label for="username">Nome</label>
      <input class="text-big" name="username" id="username"
        value="{% if error %}{{ request.form['username'] }}{% endif %}"required>
      <label for="password">Password</label>
      <input class="text-big" type="password" name="password" id="password" required>
      <input class="text-big global-btn" type="submit" value="Accedi">
    </form>

    {% for message in get_flashed_messages() %}
    <p class="error">{{ message }}</p>
    {% endfor %}
  </section>
{% endblock %}