:root {
    --color-title: Maroon
}

/*html {
    font-family: Helvetica, sans-serif;
    font-size: 12pt !important;
}*/

h1, h2, h3 {
    color: var(--color-title) !important;
    font-weight: bold !important;
}

strong {
    color: var(--color-title) !important;
}

li::marker {
    color: var(--color-title);
}

code {
    color: #777 !important;
    background-color: #fff !important;
}

.dataframe {
    font-size: x-small !important;
}

.reset {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.logo-container {
    display: flex;
    height: 10%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.testatina {
    font-weight: bold;
}

.uni-logo {
    margin: 0 !important;
    padding: 0 !important;
    width: 100px;
    height: auto;
    padding: 1rem 0;
}

#logo {
    width: 400px;
    height: auto;
    margin: 0 auto;
}

#prodotti-carousel {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;

    li {
        display: flex;
        width: 25%;
        height: 100%;
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
        }

        li:nth-child(even) {
            justify-content: end;
        }
    }
}

#img-bancarella {
    display: block;
    margin: 0 auto;
    height: 55vh;
    width: auto;
}

#corrispettivo-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70vh;

    .col1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: 100%;
    }

    img {
        height: 95%;
        width: auto;
    }

    a {
        font-size: xx-small;
    }

    ul {
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
    }

    li {
        margin-bottom: 5rem;
    }
}

#img-gform,
#img-modello {
    display: block;
    margin: 0 auto;
    height:55vh;
    width: auto;
}

.celltag_relplot img {
    display: block;
    height: 75vh;
    width: auto;
    margin: 0 auto;
}